<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Content from the first manifest -->

    <queries>
        <!-- Content from the second manifest's <queries> element -->
        <!-- List of apps which you want to support for Intent pay -->
        <package android:name="com.google.android.apps.nbu.paisa.user" />
        <package android:name="com.phonepe.app" />
        <!--
             Specific intents you query for,
             eg: for a custom share UI
        -->
        <intent>
            <action android:name="android.intent.action.SEND" />
        </intent>

    </queries>

    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RaffleScreenNew"
        >

        <!-- Content from the second manifest's additional activities -->
        <activity
            android:name=".view.CartActivity"
            android:exported="false" />
        <activity
            android:name=".view.DetailedActivity"
            android:exported="false" />
<!--        view.MainActivity is giving an error-->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


    </application>

</manifest>
        <!-- Content from the second manifest's Razorpay-related declarations -->
<!--        <receiver-->
<!--            android:name="com.razorpay.RzpTokenReceiver"-->
<!--            android:exported="false"-->
<!--            tools:replace="android:exported">-->
<!--            <intent-filter>-->
<!--                <action android:name="rzp.device_token.share" />-->
<!--            </intent-filter>-->
<!--        </receiver>-->
<!---->
<!--        <activity-->
<!--            android:name="com.razorpay.CheckoutActivity"-->
<!--            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"-->
<!--            android:exported="true"-->
<!--            android:theme="@style/CheckoutTheme">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <data-->
<!--                    android:host="rzp.io"-->
<!--                    android:scheme="io.rzp" />-->
<!--           </intent-filter>&ndash;&gt;-->
<!--        </activity>&ndash;&gt;-->
<!---->
<!--        <meta-data-->
<!--            android:name="com.razorpay.ApiKey"-->
<!--            android:value="rzp_test_KNmqtN7IEXZmDQ" />-->
<!---->
<!--         Other content from the first manifest -->
<!---->
<!--    </application>-->

<!--</manifest>-->
